{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
<style>
    /* .row:has( > .timer-box){
        margin : 0 0px;
        color : white;
        font-weight: bold;
    }
    .timer-box{
        background-image: linear-gradient(to right top, #e982ec, #ca7bef, #a776f1, #7b72f1, #396eef);        align-items: center;
        display: table;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .timer-box > p {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    #timer{
        display: flex;
        align-items: center;
        justify-self: center;
        background-color: #126FEB;
        border-radius: 10px;
        height:fit-content;
        padding: 2em 0;
        bottom: 0;
    }
    #end-at > h3{
        display: inline-block;
        width: max-content;
        padding: 1rem;
        border-radius: 10px;
        background-color: #126FEB;
    }
    
    #my-prize > #title{
        background-color: #126FEB;
    }
    #prize-result{
        overflow-y: scroll;
    } */
    /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.row:has( > .timer-box){
        margin : 0 0px;
        color : white;
        font-weight: bold;
    }
    .timer-box{
        background-image: -webkit-gradient(linear, left bottom, right top, from(#e982ec), color-stop(#ca7bef), color-stop(#a776f1), color-stop(#7b72f1), to(#396eef));
        background-image: -o-linear-gradient(left bottom, #e982ec, #ca7bef, #a776f1, #7b72f1, #396eef);
        background-image: linear-gradient(to right top, #e982ec, #ca7bef, #a776f1, #7b72f1, #396eef);        -webkit-box-align: center;        -ms-flex-align: center;        align-items: center;
        display: table;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .timer-box > p {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    #timer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-grid-column-align: center;
            justify-self: center;
        background-color: #126FEB;
        border-radius: 10px;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        padding: 2em 0;
        bottom: 0;
    }
    #end-at > h3{
        display: inline-block;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 1rem;
        border-radius: 10px;
        background-color: #126FEB;
    }
    
    #my-prize > #title{
        background-color: #126FEB;
    }
    #prize-result{
        overflow-y: scroll;
    }
</style>
<div id="main" class="row align-items-center justify-content-center">
    <script>
        $.ajax({
            type: 'GET',
            url: '/getTimer',
            success: function (data) {
                data = data.end;
                console.log(data)
                var end = new Date(data.year, data.month - 1, data.day, data.hour, data.second);
                // var end = new Date(2022 , 9, 27 , 0 , 0 , 0); 
                var now = new Date();
                console.log(now)
                var _second = 1000;
                var _minute = _second * 60;
                var _hour = _minute * 60;
                var _day = _hour * 24;
                var timer; // for storing the interval (to stop or pause later if needed)
                function updateClock() {
                    now = new Date();
                    var distance = end - now;
                    if (distance < 0) {
                        clearInterval(timer);
                        alert('Expired')
                    }
                    var days = Math.floor(distance / _day);
                    var hours = Math.floor((distance % _day) / _hour);
                    var minutes = Math.floor((distance % _hour) / _minute);
                    var seconds = Math.floor((distance % _minute) / _second);
                    $('#day>p').text(days)
                    $('#hour>p').text(hours)
                    $('#minute>p').text(minutes)
                    $('#second>p').text(seconds)

                }

                timer = setInterval(updateClock, 1000);
            }
        })
    </script>
    
    <div id="content" class="row col-8">
        <div id="end-at" class="row text-white ">
            <h3>KẾT THÚC LÚC</h3>
        </div>
        <div id="info" class="row col-4">
            <div id="timer" class="row col-12">
                <div class="row">
                    <div class="col-3 row">
                        <div class="timer-box" id="day">
                            <p class="h1"></p>
                        </div>
                        <div class="col-12 h1">D</div>
                    </div>
                    <div class="col-3 row">
                        <div class="timer-box" id="hour">
                            <p class="h1"></p>
                        </div>
                        <div class="col-12 h1">H</div>
                    </div>
                    <div class="col-3 row">
                        <div class="timer-box" id="minute">
                            <p class="h1"></p>
                        </div>
                        <div class="col-12 h1">M</div>
                    </div>
                    <div class="col-3 row">
                        <div class="timer-box" id="second">
                            <p class="h1"></p>
                        </div>
                        <div class="col-12 h1">S</div>
                    </div>
                </div>
            </div>
            <div id="my-prize" class="row col-12">
                <div class="row" id="title">
                    <h4>PHẦN THƯỞNG CỦA TÔI</h4>
                </div>
                <div id="prize-result" class="row">
                    
                </div>
            </div>
        </div>
        <div id="wheel" class="row col-8">
            <div id="input-uid" class="row">
                <input type="text" class="form-control" placeholder="Your UID here .. "> 
            </div>
            <div id="rectangle" class="row">
                <div class="row">
                    <div class="wheel-item col-4" id="wheel-1">
                        <img src="media/{{prize.0.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.0.prize}}</p>
                    </div>
                    <div class="wheel-item col-4" id="wheel-2">
                        <img src="media/{{prize.1.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.1.prize}}</p>
                    </div>
                    <div class="wheel-item col-4" id="wheel-3">
                        <img src="media/{{prize.2.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.2.prize}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wheel-item col-4" id="wheel-4">
                        <img src="media/{{prize.3.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.3.prize}}</p>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center" id="roll">
                        <button class="btn btn-secondary px-4 py-2">ROLL</button>
                    </div>
                    <div class="wheel-item col-4" id="wheel-5">
                        <img src="media/{{prize.4.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.4.prize}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wheel-item col-4" id="wheel-6">
                        <img src="media/{{prize.5.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.5.prize}}</p>
                    </div>
                    <div class="wheel-item col-4" id="wheel-7">
                        <img src="media/{{prize.6.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.6.prize}}</p>
                    </div>
                    <div class="wheel-item col-4" id="wheel-8">
                        <img src="media/{{prize.7.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.7.prize}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var round_item = []
    var rolling = [];
    var time = [];
    var roll_interval = null;


    function add_to_myprize(prize) {
        var area_prize = document.getElementById('area')
        area_prize = area_prize.children[0];
        area_prize.innerHTML += "<li >" + prize + "</li>"

        $('#modal-result-text').text('Chúc mừng bạn đã nhận được ' + prize);
        $('#modal-button').click();
    }

    function render_wheel(at, prize) {
        for (let i = 0; i < round_item.length; i++) {
            round_item[rolling[i]].style.border = "#ccc solid 5px";
        }
        round_item[rolling[at]].style.border = "#06CE31 solid 5px";
        roll_interval = setTimeout(() => {
            render_wheel(at + 1, prize);
        }, (time[at]));
        if (at + 1 == rolling.length) {
            clearInterval(roll_interval);
            roll_interval = null;
            // alert("Chúc mừng bạn đã nhận được " + prize)
            // console.log("Chúc mừng bạn đã nhận được " + prize)
            add_to_myprize(prize);
            return;

        }
    }

    function effect_rolling(result) {
        var round = [1, 2, 3, 5, 8, 7, 6, 4]
        round_item = []; rolling = []; time = [];
        for (let i = 0; i < round.length; i++) {
            var temp = document.getElementById('wheel-' + round[i]);
            round_item.push(temp);
        }
        var indexOfResult = round.indexOf(result);
        for (let i = 0; i < 5; i++) {
            for (let j = 0; j < round.length; j++) rolling.push(j)
        }
        for (let i = 0; i <= indexOfResult; i++) rolling.push(i);
        for (let i = 0; i < rolling.length; i++) time.push(i * 15);
        // time.reverse();
        // #091e5c solid 1.5em
        // #a8b3d4 solid 1.5em

        var prize = document.getElementById(('wheel-' + result)).children;
        var prize_result = (prize[prize.length - 1]).innerText;
        console.log(prize_result)
        render_wheel(0, prize_result);

    }

    $('#roll>button').click(function (e) {
        e.preventDefault();
        if (roll_interval != null) {
            alert("Vòng xoay đang được thực hiện");
            return;
        }
        if ($("#input-uid>input").val().replace(/^\s+|\s+$/g, "").length != 0) {
            let list_prize = [];
            for (let i = 1; i <= 8; i++) {
                let s = 'wheel-' + i;
                var wheel = document.getElementById(s).children;
                list_prize.push(wheel[wheel.length - 1].innerText)
            }
            data = {
                'uid': $("#input-uid>input").val(),
                'event': '{{event.name}}',
                'list_prize': list_prize
            }
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/roll/',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: data,
                success: function (data) {
                    console.log(data);
                    effect_rolling(data.result)
                },
                error: function (err) {
                    alert("Hãy kiểm tra lại UID hoặc điều kiện tham gia của bạn")
                }
            })
        } else {
            alert('UID can not be empty');
        }
    })
</script>
{% endblock %}