{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
<style>
    #input-uid > input::placeholder{
        color : rgb(223, 222, 222);
    }
    #area,
    #wheel,
    #input-uid,
    #end-at {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 1.5%;
    }

    #timer {
        padding: 1.25em;
        border-radius: 10px;
        background-color: #126FEB;
    }

    .timer-box {
        background-image: linear-gradient(to right top, #e982ec, #ca7bef, #a776f1, #7b72f1, #396eef);
        padding: 1.5em;
        border-radius: 10px;
        color: white;
    }

    .timer-box p {
        text-align: center;
        align-items: center;
        transform: translate(-15px);
    }

    #timer>div>p {
        text-align: center;
        color: gainsboro;
        margin-top: 0.4em;
        
    }

    #wheel>div>div {
        text-align: center;
        align-items: center;
        /*border: #ccc solid 1.5em;*/
        /* padding : 1em; */
    }

    /* #wheel{
        padding : 1em;
    } */

    .wheel-selected {
        /*border: #a8b3d4 solid 1.5em;*/
    }

    #input-uid>input {
        background-color: #126FEB;
        color: white;
        border: none;
        outline: none;
    }
    #input-uid {
        width: 100%;
        max-width: 622px;
        margin: 0 auto;
    }

    #area,
    #end-at {
        background-color: #1b41b2;
    }
    #main {
        background-image: linear-gradient(to left bottom, #f83ee5, #9d8aff, #00b2ff, #00caff, #12d9eb);
        height: 100vh;
    }
    .text-white {
        padding: 0px;
    }
    #end-at {
        background-color: #126FEB;
        font-size: 24px;
        border-radius: 5px;
        padding: 8px 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .wheel-item {
        background-image: linear-gradient(to left bottom, #73d9f6, #00bbff, #0099ff, #0071ff, #123aeb);
        border-radius: 15px;
        width: 100%;
        max-width: 190px;
        margin: 0 27px 20px 0;
    }
    #roll {
        background-color: #D4D4D4;
        border-radius: 15px;
        width: 100%;
        max-width: 190px;
        margin: 0 27px 20px 0;
    }
    #wheel-1, #wheel-4, #wheel-6 {
        margin-left: 30px;
    }
    .title-content h2 {
        text-align: center;
    }
    .title-content {
        padding: 8px 12px !important;
        border-radius: 8px;
        background-color: #126FEB;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    #area {
        height: 100%;
        max-height: 300px;
        overflow-y: scroll;
    }


</style>
<div id="main" class="h-100 d-flex align-items-center justify-content-center">

    <script>
        $.ajax({
            type: 'GET',
            url: '/getTimer',
            success: function (data) {
                data = data.end;
                console.log(data)
                var end = new Date(data.year, data.month - 1, data.day, data.hour, data.second);
                // var end = new Date(2022 , 9, 27 , 0 , 0 , 0); 
                var now = new Date();
                console.log(now)
                var _second = 1000;
                var _minute = _second * 60;
                var _hour = _minute * 60;
                var _day = _hour * 24;
                var timer; // for storing the interval (to stop or pause later if needed)
                function updateClock() {
                    now = new Date();
                    var distance = end - now;
                    if (distance < 0) {
                        clearInterval(timer);
                        alert('Expired')
                    }
                    var days = Math.floor(distance / _day);
                    var hours = Math.floor((distance % _day) / _hour);
                    var minutes = Math.floor((distance % _hour) / _minute);
                    var seconds = Math.floor((distance % _minute) / _second);
                    $('#day>p').text(days)
                    $('#hour>p').text(hours)
                    $('#minute>p').text(minutes)
                    $('#second>p').text(seconds)

                }

                timer = setInterval(updateClock, 1000);
            }
        })
    </script>

    <div class="row h-60 w-100" style="margin: 0 12em ;">
        <h3 class="text-white mb-3">
            <span id="end-at" class="px-2 py-1 custom">Kết thúc lúc</span>
        </h3>
        <div class="col-md-4 d-flex flex-column">
            <div id="timer" class="row">
                <div class="col-3">
                    <div class="timer-box" id="day">
                        <p class="h1"></p>
                    </div>
                    <p class="h5">D</p>
                </div>
                <div class="col-3">
                    <div class="timer-box" id="hour">
                        <p class="h1"></p>
                    </div>
                    <p class="h5">H</p>
                </div>
                <div class="col-3">
                    <div class="timer-box" id="minute">
                        <p class="h1"></p>
                    </div>
                    <p class="h5">M</p>
                </div>
                <div class="col-3">
                    <div class="timer-box" id="second">
                        <p class="h1"></p>
                    </div>
                    <p class="h5">S</p>
                </div>
            </div>
            <div id="prize" class="text-white mt-3 flex-grow-1">
                <div class="row h-100">
                    <div id="title" class="h5 py-4 title-content">
                        <h2>Phần thưởng của tôi</h2>
                    </div>
                    <div id="area">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-5">
            <div id="input-uid" class="row mb-3">
                <input type="text" class="form-control" placeholder="Your UID here .. ">
            </div>
            <div id="wheel" class="text-white">
                <div class="row">
                    <div class="col-4 wheel-item" id="wheel-1">
                        <img src="media/{{prize.0.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.0.prize}}</p>
                    </div>
                    <div class="col-4 wheel-item" id="wheel-2">
                        <img src="media/{{prize.1.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.1.prize}}</p>
                    </div>
                    <div class="col-4 wheel-item" id="wheel-3">
                        <img src="media/{{prize.2.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.2.prize}}</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4 wheel-item" id="wheel-4">
                        <img src="media/{{prize.3.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.3.prize}}</p>

                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center" id="roll">
                        <button class="btn btn-secondary px-4 py-2">ROLL</button>
                    </div>
                    <div class="col-4 wheel-item" id="wheel-5">
                        <img src="media/{{prize.4.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.4.prize}}</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4 wheel-item" id="wheel-6">
                        <img src="media/{{prize.5.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.5.prize}}</p>

                    </div>
                    <div class="col-4 wheel-item" id="wheel-7">
                        <img src="media/{{prize.6.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.6.prize}}</p>

                    </div>
                    <div class="col-4 wheel-item" id="wheel-8">
                        <img src="media/{{prize.7.image}}" alt="" width="100px" height="auto">
                        <p class="h5">{{prize.7.prize}}</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
<button id="modal-button" style="display: none;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resultModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Kết quả</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-result-text">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>
<script>

    var round_item = []
    var rolling = [];
    var time = [];
    var roll_interval = null ; 


    function add_to_myprize(prize) {
        var area_prize = document.getElementById('area')
        area_prize = area_prize.children[0];
        area_prize.innerHTML += "<li >" + prize + "</li>"

        $('#modal-result-text').text('Chúc mừng bạn đã nhận được '  + prize) ;
        $('#modal-button').click();
    }

    function render_wheel(at, prize) {
        for (let i = 0; i < round_item.length; i++) {
            round_item[rolling[i]].style.border = "#ccc solid 5px";
        }
        round_item[rolling[at]].style.border = "#06CE31 solid 5px";
        roll_interval = setTimeout(() => {
            render_wheel(at + 1, prize);
        }, (time[at]));
        if (at + 1 == rolling.length) {
            clearInterval(roll_interval);
            roll_interval = null;
            // alert("Chúc mừng bạn đã nhận được " + prize)
            // console.log("Chúc mừng bạn đã nhận được " + prize)
            add_to_myprize(prize);
            return;

        }
    }

    function effect_rolling(result) {
        var round = [1, 2, 3, 5, 8, 7, 6, 4]
        round_item = []; rolling = []; time = [];
        for (let i = 0; i < round.length; i++) {
            var temp = document.getElementById('wheel-' + round[i]);
            round_item.push(temp);
        }
        var indexOfResult = round.indexOf(result);
        for (let i = 0; i < 5; i++) {
            for (let j = 0; j < round.length; j++) rolling.push(j)
        }
        for (let i = 0; i <= indexOfResult; i++) rolling.push(i);
        for (let i = 0; i < rolling.length; i++) time.push(i * 15);
        // time.reverse();
        // #091e5c solid 1.5em
        // #a8b3d4 solid 1.5em

        var prize = document.getElementById(('wheel-' + result)).children;
        var prize_result = (prize[prize.length - 1]).innerText;
        console.log(prize_result)
        render_wheel(0, prize_result);

    }

    $('#roll>button').click(function (e) {
        e.preventDefault();
        if(roll_interval != null){
            alert("Vòng xoay đang được thực hiện") ;
            return ;
        }
        if ($("#input-uid>input").val().replace(/^\s+|\s+$/g, "").length != 0) {
            let list_prize = [];
            for (let i = 1; i <= 8; i++) {
                let s = 'wheel-' + i;
                var wheel = document.getElementById(s).children;
                list_prize.push(wheel[wheel.length - 1].innerText)
            }
            data = {
                'uid': $("#input-uid>input").val(),
                'event': '{{event.name}}',
                'list_prize': list_prize
            }
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/roll/',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: data,
                success: function (data) {
                    console.log(data);
                    effect_rolling(data.result)
                },
                error: function (err) {
                    alert("Hãy kiểm tra lại UID hoặc điều kiện tham gia của bạn")
                }
            })
        } else {
            alert('UID can not be empty');
        }
    })
</script>
{% endblock %}